* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ecf0f3;
}

.container {
    margin: auto;
    padding: 15px;
    max-width: 1140px;
    height: 100vh;
    font-family: 'Barlow', sans-serif;
}
.title {
    margin: 20px 0;
    text-align: center;
    font-size: 32px;
    user-select: none;
}

.calculator {
    margin: auto;
    padding: 15px;
    max-width: 700px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff; 
    border-radius: 8px;
}

.calculator-block {
    display: flex;
    flex-direction: column;
}

.btns-block {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
}

.btns-block-scientific {
    margin: 0 0 30px 0;
}

.calculator-output {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    min-height: 70px;
    padding: 10px;
    margin: 0 0 30px 0;
    border-radius: 8px;
    font-size: 36px;
    user-select: none;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #f1f1f1;
}

.calc-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: 0;
    border-radius: 8px;
    font-size: 26px;
    cursor: pointer;
    transition: 0.3s;
    user-select: none;
    box-shadow: 5px 5px 8px #00000020, -5px -5px 8px #ffff;
}

.calc-btn:hover {
    box-shadow:  inset 5px 5px 8px rgba(16, 16, 16, .1), inset -5px -5px 8px #fff;
    background-color: #fff;
}

.calc-btn-equal {
    background-color: #4285f4;
    color: #ffff;
    grid-column: 3 / -1;
}

.calc-btn-equal:hover {
    box-shadow:  inset 5px 5px 8px rgba(16, 16, 16, .1);
    background-color: #6098f3;
}

@media screen and (max-width: 500px) {
    .btns-block {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
}