* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    max-width: 1140px;
    padding: 15px;
    margin: 0 auto;
}

.calculator {
    background-color: #000000;
    border-radius: 10px;
    padding: 15px;
    font-family: 'Barlow', sans-serif;
}

.calculator-block {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 15px;
}

.calculator-output {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    min-height: 70px;
    padding: 20px;
    margin: 0 0 30px;
    border-radius: 8px;
    color: #FFFFFF;
    background-color: #3e3e3e;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: #3e3e3e;
    border: 0;
    border-radius: 8px;
    font-size: 30px;
    color: #ffffff;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0px 3px 0px 0px silver;
}

.item-beige {
    background-color:  #ffac30;
    box-shadow: 0px 3px 0px 0px #ffc164;
}

.item-del {
    background-color: rgb(253, 44, 44);
    box-shadow: 0px 3px 0px 0px rgb(255, 116, 116);
}

.item-result {
    background-color: orange;
}

.input {
    justify-content: flex-end;
    margin: 0 0 30px 0;
    padding: 5px 20px;
    width: 100%;
    min-height: 60px;
    border-radius: 8px;
    font-size: 40px;
    cursor: auto;
}

.output {
    margin: 0;
    width: 100%;
    height: fit-content;
    border-radius: 8px;
    font-size: 40px;
    background-color: rgb(255, 170, 12);
}

.item:hover {
    background-color: #6f6f6f;
}

.output:hover {
    background-color: rgb(255, 182, 45);
}

sup {
    font-size: 20px;
    margin-left: 3px;
    margin-top: -20px;
}